In [1]:
print("hello")

hello

In [34]:
import pandas as pd
import io
import os
from datetime import datetime
from typing import Dict, List, Any, Optional

def process_financials_file(file_data: io.BytesIO, start_date=None, end_date=None, location=None) -> Dict[str, List[Dict[str, Any]]]:
    """
    Process the uploaded Excel file and transform the data.
    Returns data tables for the frontend including the 1P column.
    
    Parameters:
    - file_data: Excel file as BytesIO object
    - start_date: Optional start date for filtering (str format: 'YYYY-MM-DD')
    - end_date: Optional end date for filtering (str format: 'YYYY-MM-DD')
    - location: Optional location name for filtering
    """

    # Read the Excel file
    # df = pd.read_excel(file_data)
    try:
        df = pd.read_excel(file_data, sheet_name="Database")
    except ValueError as e:
        raise ValueError("Sheet named 'Database' not found in the uploaded Excel file.")


    # Reset the file pointer for further operations
    file_data.seek(0)
    print(df.head())  # Debug log to check the initial data
    print(df.columns)  # Debug log to check the columns

In [ ]:
with open("../uploads/20250512_125020_midtown_east_dashboard2_template1.xlsx", "rb") as f:
    file_bytes = io.BytesIO(f.read())

result = process_financials_file(file_bytes, start_date="2023-01-01", end_date="2023-12-31", location="Midtown East")

               Store     Ly Date       Date  Day  Week Month  Quarter    Year  \
0  0001: Midtown East 2024-01-01 2024-12-30  Mon   1.0   Dec      4.0  2024.0
1  0001: Midtown East 2024-01-02 2024-12-31  Tue   1.0   Dec      4.0  2024.0
2  0001: Midtown East 2024-01-03 2025-01-01  Wed   1.0   Jan      1.0  2025.0
3  0001: Midtown East 2024-01-04 2025-01-02  Thu   1.0   Jan      1.0  2025.0
4  0001: Midtown East 2024-01-05 2025-01-03  Fri   1.0   Jan      1.0  2025.0

        Helper 1                 Helper 2  ... LW  LW .1  LW .2  LW .3  LW .4  \
0     1 - Monday  12/30/2024 - 01/05/2025  ... NaN   NaN    NaN    NaN    NaN
1    2 - Tuesday  12/30/2024 - 01/05/2025  ... NaN   NaN    NaN    NaN    NaN
2  3 - Wednesday  12/30/2024 - 01/05/2025  ... NaN   NaN    NaN    NaN    NaN
3   4 - Thursday  12/30/2024 - 01/05/2025  ... NaN   NaN    NaN    NaN    NaN
4     5 - Friday  12/30/2024 - 01/05/2025  ... NaN   NaN    NaN    NaN    NaN

   LW .5  Unnamed: 47  Unnamed: 48  Unnamed: 49  Unnamed: 50
0    NaN          NaN          NaN          NaN          NaN
1    NaN          NaN          NaN          NaN          NaN
2    NaN          NaN          NaN          NaN          NaN
3    NaN          NaN          NaN          NaN          NaN
4    NaN          NaN          NaN          NaN          NaN

[5 rows x 51 columns]
Index(['Store ', 'Ly Date', 'Date', 'Day', 'Week', 'Month', 'Quarter', 'Year',
       'Helper 1', 'Helper 2', 'Helper 3', 'Helper 4', 'Tw Sales', 'Lw Sales',
       'Ly Sales ', 'Tw Orders', 'Lw Orders', 'Ly Orders', 'Tw Avg Tckt',
       'Lw Avg Tckt', 'Ly Avg Tckt', 'Tw Labor Hrs', 'Lw Labor Hrs',
       'Tw Reg Pay', 'Lw Reg Pay', 'Tw SPMH', 'Lw SPMH', 'Tw LPMH', 'Lw LPMH',
       'Tw COGS', 'TW ', 'TW .1', 'TW .2', 'TW .3', 'TW .4', 'TW .5',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Lw COGS',
       'LW ', 'LW .1', 'LW .2', 'LW .3', 'LW .4', 'LW .5', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'],
      dtype='object')

c:\Users\ashee\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
c:\Users\ashee\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

In [38]:
df = pd.read_excel(file_bytes, sheet_name="Database")
df.head()  # Display the first few rows of the DataFrame

c:\Users\ashee\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
c:\Users\ashee\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

,Store,Ly Date,Date,Day,Week,Month,Quarter,Year,Helper 1,Helper 2,...,LW,LW .1,LW .2,LW .3,LW .4,LW .5,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,0001: Midtown East,2024-01-01,2024-12-30,Mon,1.0,Dec,4.0,2024.0,1 - Monday,12/30/2024 - 01/05/2025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001: Midtown East,2024-01-02,2024-12-31,Tue,1.0,Dec,4.0,2024.0,2 - Tuesday,12/30/2024 - 01/05/2025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001: Midtown East,2024-01-03,2025-01-01,Wed,1.0,Jan,1.0,2025.0,3 - Wednesday,12/30/2024 - 01/05/2025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0001: Midtown East,2024-01-04,2025-01-02,Thu,1.0,Jan,1.0,2025.0,4 - Thursday,12/30/2024 - 01/05/2025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0001: Midtown East,2024-01-05,2025-01-03,Fri,1.0,Jan,1.0,2025.0,5 - Friday,12/30/2024 - 01/05/2025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.columns  # Display the columns of the DataFrame

Index(['Store ', 'Ly Date', 'Date', 'Day', 'Week', 'Month', 'Quarter', 'Year',
       'Helper 1', 'Helper 2', 'Helper 3', 'Helper 4', 'Tw Sales', 'Lw Sales',
       'Ly Sales ', 'Tw Orders', 'Lw Orders', 'Ly Orders', 'Tw Avg Tckt',
       'Lw Avg Tckt', 'Ly Avg Tckt', 'Tw Labor Hrs', 'Lw Labor Hrs',
       'Tw Reg Pay', 'Lw Reg Pay', 'Tw SPMH', 'Lw SPMH', 'Tw LPMH', 'Lw LPMH',
       'Tw COGS', 'TW ', 'TW .1', 'TW .2', 'TW .3', 'TW .4', 'TW .5',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Lw COGS',
       'LW ', 'LW .1', 'LW .2', 'LW .3', 'LW .4', 'LW .5', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'],
      dtype='object')

In [40]:
print(df['Tw Sales'])

0       4804.05
1       2370.71
2           NaN
3       3689.91
4       4578.77
         ...
1994        NaN
1995        NaN
1996        NaN
1997        NaN
1998        NaN
Name: Tw Sales, Length: 1999, dtype: float64

In [41]:
# Strip whitespace from column names
df.columns = df.columns.str.strip()

# Define columns to exclude from filling
exclude_cols = ['Store', 'Ly Date', 'Date', 'Day', 'Week', 'Month', 'Quarter', 'Year',
                'Helper 1', 'Helper 2', 'Helper 3', 'Helper 4']

# Get all columns that should be filled with 0
fill_cols = [col for col in df.columns if col not in exclude_cols]

# Replace NaN with 0 only in selected columns
df[fill_cols] = df[fill_cols].fillna(0)

# Fill excluded (metadata/helper) columns with empty string
df[exclude_cols] = df[exclude_cols].fillna('')

In [42]:
df.head()  # Display the first few rows of the DataFrame after filling NaN values

,Store,Ly Date,Date,Day,Week,Month,Quarter,Year,Helper 1,Helper 2,...,LW,LW .1,LW .2,LW .3,LW .4,LW .5,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,0001: Midtown East,2024-01-01,2024-12-30,Mon,1.0,Dec,4.0,2024.0,1 - Monday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0001: Midtown East,2024-01-02,2024-12-31,Tue,1.0,Dec,4.0,2024.0,2 - Tuesday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0001: Midtown East,2024-01-03,2025-01-01,Wed,1.0,Jan,1.0,2025.0,3 - Wednesday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0001: Midtown East,2024-01-04,2025-01-02,Thu,1.0,Jan,1.0,2025.0,4 - Thursday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0001: Midtown East,2024-01-05,2025-01-03,Fri,1.0,Jan,1.0,2025.0,5 - Friday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
print(df["Helper 4"])

0       1 | 12/30/2024 - 01/05/2025
1       1 | 12/30/2024 - 01/05/2025
2       1 | 12/30/2024 - 01/05/2025
3       1 | 12/30/2024 - 01/05/2025
4       1 | 12/30/2024 - 01/05/2025
                   ...
1994
1995
1996
1997
1998
Name: Helper 4, Length: 1999, dtype: object

In [48]:
# print("tw sales")
# print(df['Tw Sales'])

# print("lw sales")
# print(df['Lw Sales'])

# print("Tw Avg Tckt")
# print(df['Tw Avg Tckt'])

# print("Tw Labor Hrs")
# print(df['Tw Labor Hrs'])

print("Tw Reg Pay")
print(df['Tw Reg Pay'])

Tw Reg Pay
0       1260.6
1       1249.8
2          0.0
3       1249.8
4       1249.8
         ...
1994       0.0
1995       0.0
1996       0.0
1997       0.0
1998       0.0
Name: Tw Reg Pay, Length: 1999, dtype: float64

In [50]:
filtered_df = df[df["Helper 4"] == "1 | 12/30/2024 - 01/05/2025"]
filtered_df

,Store,Ly Date,Date,Day,Week,Month,Quarter,Year,Helper 1,Helper 2,...,LW,LW .1,LW .2,LW .3,LW .4,LW .5,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,0001: Midtown East,2024-01-01,2024-12-30,Mon,1.0,Dec,4.0,2024.0,1 - Monday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0001: Midtown East,2024-01-02,2024-12-31,Tue,1.0,Dec,4.0,2024.0,2 - Tuesday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0001: Midtown East,2024-01-03,2025-01-01,Wed,1.0,Jan,1.0,2025.0,3 - Wednesday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0001: Midtown East,2024-01-04,2025-01-02,Thu,1.0,Jan,1.0,2025.0,4 - Thursday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0001: Midtown East,2024-01-05,2025-01-03,Fri,1.0,Jan,1.0,2025.0,5 - Friday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0001: Midtown East,2024-01-06,2025-01-04,Sat,1.0,Jan,1.0,2025.0,6 - Saturday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0001: Midtown East,2024-01-07,2025-01-05,Sun,1.0,Jan,1.0,2025.0,7 - Sunday,12/30/2024 - 01/05/2025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
len(filtered_df)

7

In [87]:
import pandas as pd

# Clean column names
df.columns = df.columns.str.strip()

# Define columns to clean
sales_cols = ['Tw Sales', 'Lw Sales', 'Ly Sales']
df[sales_cols] = df[sales_cols].fillna(0)

# Remove $ and , and convert to float
for col in sales_cols:
    df[col] = df[col].astype(str).str.replace(r'[\$,]', '', regex=True)
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)

# Group by Helper 1
grouped = df.groupby('Helper 1')[sales_cols].sum().reset_index()

# Calculate percentage differences and round to 2 decimal places
grouped['Tw/Lw (+/-)'] = (((grouped['Tw Sales'] - grouped['Lw Sales']) / grouped['Lw Sales'].replace(0, pd.NA)) * 100).round(2)
grouped['Tw/Ly (+/-)'] = (((grouped['Tw Sales'] - grouped['Ly Sales']) / grouped['Ly Sales'].replace(0, pd.NA)) * 100).round(2)

# Grand total values
total_tw = df['Tw Sales'].sum()
total_lw = df['Lw Sales'].sum()
total_ly = df['Ly Sales'].sum()
tw_lw_diff = round((total_tw - total_lw) / total_lw * 100, 2) if total_lw != 0 else 0.00
tw_ly_diff = round((total_tw - total_ly) / total_ly * 100, 2) if total_ly != 0 else 0.00

# Grand total row (all floats)
grand_total = pd.DataFrame([{
    'Helper 1': 'Grand Total',
    'Tw Sales': round(total_tw, 2),
    'Lw Sales': round(total_lw, 2),
    'Ly Sales': round(total_ly, 2),
    'Tw/Lw (+/-)': tw_lw_diff,
    'Tw/Ly (+/-)': tw_ly_diff
}])

# Define expected rows in correct order
expected_days = [
    '1 - Monday',
    '2 - Tuesday',
    '3 - Wednesday',
    '4 - Thursday',
    '5 - Friday',
    '6 - Saturday',
    '7 - Sunday',
    'Grand Total'
]

# Combine and sort
sales_table = pd.concat([grouped, grand_total], ignore_index=True)
sales_table = sales_table[sales_table['Helper 1'].isin(expected_days)]
sales_table['Helper 1'] = pd.Categorical(sales_table['Helper 1'], categories=expected_days, ordered=True)
sales_table = sales_table.sort_values('Helper 1').reset_index(drop=True)

# Rename column
sales_table = sales_table.rename(columns={'Helper 1': 'Day of the Week'})

cols_to_round = ['Tw Sales', 'Lw Sales', 'Ly Sales', 'Tw/Lw (+/-)', 'Tw/Ly (+/-)']
sales_table[cols_to_round] = sales_table[cols_to_round].astype(float).round(2)

In [93]:
sales_table

  Day of the Week   Tw Sales   Lw Sales    Ly Sales  Tw/Lw (+/-)  Tw/Ly (+/-)
0      1 - Monday   78342.48   73538.43   204935.43         6.53       -61.77
1     2 - Tuesday  136646.72  139080.06   383819.96        -1.75       -64.40
2   3 - Wednesday  154380.90  154380.90   419204.38         0.00       -63.17
3    4 - Thursday  142480.95  142480.95   395944.62         0.00       -64.01
4      5 - Friday   80651.51   80651.51   223736.74         0.00       -63.95
5    6 - Saturday     834.99     834.99    60192.66         0.00       -98.61
6      7 - Sunday    1208.99    1208.99    45003.32         0.00       -97.31
7     Grand Total  594546.54  592175.83  1732837.11         0.40       -65.69

In [ ]:
tw_sales_grand_total =sales_table.loc[sales_table["Day of the Week"] == "Grand Total", "Tw Sales"].values[0]
lw_sales_grand_total =sales_table.loc[sales_table["Day of the Week"] == "Grand Total", "Lw Sales"].values[0]
ly_sales_grand_total =sales_table.loc[sales_table["Day of the Week"] == "Grand Total", "Ly Sales"].values[0]

592175.83

In [91]:
sales_table["Day of the Week"]

0       1 - Monday
1      2 - Tuesday
2    3 - Wednesday
3     4 - Thursday
4       5 - Friday
5     6 - Saturday
6       7 - Sunday
7      Grand Total
Name: Day of the Week, dtype: category
Categories (8, object): ['1 - Monday' < '2 - Tuesday' < '3 - Wednesday' < '4 - Thursday' < '5 - Friday' < '6 - Saturday' < '7 - Sunday' < 'Grand Total']

now making the orders table

In [83]:
import pandas as pd

# Clean column names
df.columns = df.columns.str.strip()

# Define order-related columns
order_cols = ['Tw Orders', 'Lw Orders', 'Ly Orders']
df[order_cols] = df[order_cols].fillna(0)

# Remove commas and convert to float
for col in order_cols:
    df[col] = df[col].astype(str).str.replace(',', '', regex=False)
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)

# Group by 'Helper 1'
grouped_orders = df.groupby('Helper 1')[order_cols].sum().reset_index()

# Calculate percentage differences
grouped_orders['Tw/Lw (+/-)'] = (((grouped_orders['Tw Orders'] - grouped_orders['Lw Orders']) / grouped_orders['Lw Orders'].replace(0, pd.NA)) * 100).round(2)
grouped_orders['Tw/Ly (+/-)'] = (((grouped_orders['Tw Orders'] - grouped_orders['Ly Orders']) / grouped_orders['Ly Orders'].replace(0, pd.NA)) * 100).round(2)

# Grand total values
total_tw_orders = df['Tw Orders'].sum()
total_lw_orders = df['Lw Orders'].sum()
total_ly_orders = df['Ly Orders'].sum()
tw_lw_orders_diff = round((total_tw_orders - total_lw_orders) / total_lw_orders * 100, 2) if total_lw_orders != 0 else 0.00
tw_ly_orders_diff = round((total_tw_orders - total_ly_orders) / total_ly_orders * 100, 2) if total_ly_orders != 0 else 0.00

# Grand total row
grand_total_orders = pd.DataFrame([{
    'Helper 1': 'Grand Total',
    'Tw Orders': round(total_tw_orders, 2),
    'Lw Orders': round(total_lw_orders, 2),
    'Ly Orders': round(total_ly_orders, 2),
    'Tw/Lw (+/-)': tw_lw_orders_diff,
    'Tw/Ly (+/-)': tw_ly_orders_diff
}])

# Define correct order
expected_days = [
    '1 - Monday',
    '2 - Tuesday',
    '3 - Wednesday',
    '4 - Thursday',
    '5 - Friday',
    '6 - Saturday',
    '7 - Sunday',
    'Grand Total'
]

# Combine, filter, sort
orders_table = pd.concat([grouped_orders, grand_total_orders], ignore_index=True)
orders_table = orders_table[orders_table['Helper 1'].isin(expected_days)]
orders_table['Helper 1'] = pd.Categorical(orders_table['Helper 1'], categories=expected_days, ordered=True)
orders_table = orders_table.sort_values('Helper 1').reset_index(drop=True)

# Rename column
orders_table = orders_table.rename(columns={'Helper 1': 'Day of The Week'})
cols_to_round = ['Tw Orders', 'Lw Orders', 'Ly Orders', 'Tw/Lw (+/-)', 'Tw/Ly (+/-)']
orders_table[cols_to_round] = orders_table[cols_to_round].astype(float).round(2)

In [84]:
orders_table

  Day of The Week  Tw Orders  Lw Orders  Ly Orders  Tw/Lw (+/-)  Tw/Ly (+/-)
0      1 - Monday     3328.0     3328.0    10238.0          0.0       -67.49
1     2 - Tuesday     5020.0     5020.0    15017.0          0.0       -66.57
2   3 - Wednesday     5025.0     5025.0    15688.0          0.0       -67.97
3    4 - Thursday     5362.0     5362.0    15246.0          0.0       -64.83
4      5 - Friday     3427.0     3427.0     9603.0          0.0       -64.31
5    6 - Saturday        2.0        2.0     3060.0          0.0       -99.93
6      7 - Sunday        1.0        1.0     2349.0          0.0       -99.96
7     Grand Total    22165.0    22165.0    71201.0          0.0       -68.87

making the avg tckt table

In [81]:
import pandas as pd

# Clean column names
df.columns = df.columns.str.strip()

# Ticket columns (though named 'Avg', treat them as total amounts to be summed)
ticket_cols = ['Tw Avg Tckt', 'Lw Avg Tckt', 'Ly Avg Tckt']
df[ticket_cols] = df[ticket_cols].fillna(0)

# Clean $, commas and convert to float
for col in ticket_cols:
    df[col] = df[col].astype(str).str.replace(r'[\$,]', '', regex=True)
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)

# Group by 'Helper 1' and sum (not average)
grouped_tckt = df.groupby('Helper 1')[ticket_cols].sum().reset_index()

# Calculate % differences
grouped_tckt['Tw/Lw (+/-)'] = (((grouped_tckt['Tw Avg Tckt'] - grouped_tckt['Lw Avg Tckt']) / grouped_tckt['Lw Avg Tckt'].replace(0, pd.NA)) * 100).round(2)
grouped_tckt['Tw/Ly (+/-)'] = (((grouped_tckt['Tw Avg Tckt'] - grouped_tckt['Ly Avg Tckt']) / grouped_tckt['Ly Avg Tckt'].replace(0, pd.NA)) * 100).round(2)

# Grand total values (averaged)
tw_avg = round(df['Tw Avg Tckt'].mean(), 2)
lw_avg = round(df['Lw Avg Tckt'].mean(), 2)
ly_avg = round(df['Ly Avg Tckt'].mean(), 2)

tw_lw_diff = round((tw_avg - lw_avg) / lw_avg * 100, 2) if lw_avg != 0 else 0.00
tw_ly_diff = round((tw_avg - ly_avg) / ly_avg * 100, 2) if ly_avg != 0 else 0.00

# Grand total row
grand_total = pd.DataFrame([{
    'Helper 1': 'Grand Total',
    'Tw Avg Tckt': tw_avg,
    'Lw Avg Tckt': lw_avg,
    'Ly Avg Tckt': ly_avg,
    'Tw/Lw (+/-)': tw_lw_diff,
    'Tw/Ly (+/-)': tw_ly_diff
}])

# Expected day order
expected_days = [
    '1 - Monday',
    '2 - Tuesday',
    '3 - Wednesday',
    '4 - Thursday',
    '5 - Friday',
    '6 - Saturday',
    '7 - Sunday',
    'Grand Total'
]

# Combine and finalize
avg_ticket_table = pd.concat([grouped_tckt, grand_total], ignore_index=True)
avg_ticket_table = avg_ticket_table[avg_ticket_table['Helper 1'].isin(expected_days)]
avg_ticket_table['Helper 1'] = pd.Categorical(avg_ticket_table['Helper 1'], categories=expected_days, ordered=True)
avg_ticket_table = avg_ticket_table.sort_values('Helper 1').reset_index(drop=True)
avg_ticket_table = avg_ticket_table.rename(columns={'Helper 1': 'Day of The Week'})
# Round all numeric columns to 2 decimal places
cols_to_round = ['Tw Avg Tckt', 'Lw Avg Tckt', 'Ly Avg Tckt', 'Tw/Lw (+/-)', 'Tw/Ly (+/-)']
# avg_ticket_table[cols_to_round] = avg_ticket_table[cols_to_round].round(2)
avg_ticket_table[cols_to_round] = avg_ticket_table[cols_to_round].astype(float).round(2)

In [82]:
avg_ticket_table

,Day of The Week,Tw Avg Tckt,Lw Avg Tckt,Ly Avg Tckt,Tw/Lw (+/-),Tw/Ly (+/-)
0,1 - Monday,400.75,400.75,981.27,0.0,-59.16
1,2 - Tuesday,464.78,464.78,1336.11,0.0,-65.21
2,3 - Wednesday,488.08,488.08,1356.76,0.0,-64.03
3,4 - Thursday,449.57,449.57,2383.05,0.0,-81.13
4,5 - Friday,401.79,401.79,1233.34,0.0,-67.42
5,6 - Saturday,834.99,834.99,237.09,0.0,252.19
6,7 - Sunday,1208.99,1208.99,893.36,0.0,35.33
7,Grand Total,2.13,2.13,4.21,0.0,-49.41

In [115]:
tw_sales_grand_total =sales_table.loc[sales_table["Day of the Week"] == "Grand Total", "Tw Sales"].values[0]
lw_sales_grand_total =sales_table.loc[sales_table["Day of the Week"] == "Grand Total", "Lw Sales"].values[0]
ly_sales_grand_total =sales_table.loc[sales_table["Day of the Week"] == "Grand Total", "Ly Sales"].values[0]

tw_orders_grand_total =orders_table.loc[orders_table["Day of The Week"] == "Grand Total", "Tw Orders"].values[0]
lw_orders_grand_total =orders_table.loc[orders_table["Day of The Week"] == "Grand Total", "Lw Orders"].values[0]
ly_orders_grand_total =orders_table.loc[orders_table["Day of The Week"] == "Grand Total", "Ly Orders"].values[0]

avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total", "Tw Avg Tckt"] = tw_sales_grand_total / tw_orders_grand_total
avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total", "Lw Avg Tckt"] = lw_sales_grand_total / lw_orders_grand_total
avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total", "Ly Avg Tckt"] = ly_sales_grand_total / ly_orders_grand_total

tw_avg_tckt_grand_total = avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total","Tw Avg Tckt"].values[0]
lw_avg_tckt_grand_total = avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total","Lw Avg Tckt"].values[0]
ly_avg_tckt_grand_total = avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total","Ly Avg Tckt"].values[0]

avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total", "Tw/Lw (+/-)"] = ((tw_avg_tckt_grand_total - lw_avg_tckt_grand_total) / lw_avg_tckt_grand_total * 100).round(2)
avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total", "Tw/Ly (+/-)"] = ((tw_avg_tckt_grand_total - ly_avg_tckt_grand_total) / ly_avg_tckt_grand_total * 100).round(2)

In [116]:
avg_ticket_table

,Day of The Week,Tw Avg Tckt,Lw Avg Tckt,Ly Avg Tckt,Tw/Lw (+/-),Tw/Ly (+/-)
0,1 - Monday,400.750000,400.750000,981.270000,0.0,-59.16
1,2 - Tuesday,464.780000,464.780000,1336.110000,0.0,-65.21
2,3 - Wednesday,488.080000,488.080000,1356.760000,0.0,-64.03
3,4 - Thursday,449.570000,449.570000,2383.050000,0.0,-81.13
4,5 - Friday,401.790000,401.790000,1233.340000,0.0,-67.42
5,6 - Saturday,834.990000,834.990000,237.090000,0.0,252.19
6,7 - Sunday,1208.990000,1208.990000,893.360000,0.0,35.33
7,Grand Total,26.823665,26.716708,24.337258,0.4,10.22

In [204]:
import pandas as pd


def day_of_the_week_tables(df):


    # sales_table
    # Clean column names
    df.columns = df.columns.str.strip()

    # Define columns to clean
    sales_cols = ['Tw Sales', 'Lw Sales', 'Ly Sales']
    df[sales_cols] = df[sales_cols].fillna(0)

    # Remove $ and , and convert to float
    for col in sales_cols:
        df[col] = df[col].astype(str).str.replace(r'[\$,]', '', regex=True)
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)

    # Group by Helper 1
    grouped = df.groupby('Helper 1')[sales_cols].sum().reset_index()

    # Calculate percentage differences and round to 2 decimal places
    grouped['Tw/Lw (+/-)'] = (((grouped['Tw Sales'] - grouped['Lw Sales']) / grouped['Lw Sales'].replace(0, pd.NA)) * 100).round(2)
    grouped['Tw/Ly (+/-)'] = (((grouped['Tw Sales'] - grouped['Ly Sales']) / grouped['Ly Sales'].replace(0, pd.NA)) * 100).round(2)

    # Grand total values
    total_tw = df['Tw Sales'].sum()
    total_lw = df['Lw Sales'].sum()
    total_ly = df['Ly Sales'].sum()
    tw_lw_diff = round((total_tw - total_lw) / total_lw * 100, 2) if total_lw != 0 else 0.00
    tw_ly_diff = round((total_tw - total_ly) / total_ly * 100, 2) if total_ly != 0 else 0.00

    # Grand total row (all floats)
    grand_total = pd.DataFrame([{
        'Helper 1': 'Grand Total',
        'Tw Sales': round(total_tw, 2),
        'Lw Sales': round(total_lw, 2),
        'Ly Sales': round(total_ly, 2),
        'Tw/Lw (+/-)': tw_lw_diff,
        'Tw/Ly (+/-)': tw_ly_diff
    }])

    # Define expected rows in correct order
    expected_days = [
        '1 - Monday',
        '2 - Tuesday',
        '3 - Wednesday',
        '4 - Thursday',
        '5 - Friday',
        '6 - Saturday',
        '7 - Sunday',
        'Grand Total'
    ]

    # Combine and sort
    sales_table = pd.concat([grouped, grand_total], ignore_index=True)
    sales_table = sales_table[sales_table['Helper 1'].isin(expected_days)]
    sales_table['Helper 1'] = pd.Categorical(sales_table['Helper 1'], categories=expected_days, ordered=True)
    sales_table = sales_table.sort_values('Helper 1').reset_index(drop=True)

    # Rename column
    sales_table = sales_table.rename(columns={'Helper 1': 'Day of the Week'})

    cols_to_round = ['Tw Sales', 'Lw Sales', 'Ly Sales', 'Tw/Lw (+/-)', 'Tw/Ly (+/-)']
    sales_table[cols_to_round] = sales_table[cols_to_round].astype(float).round(2)



    # orders_table
    # Define order-related columns
    order_cols = ['Tw Orders', 'Lw Orders', 'Ly Orders']
    df[order_cols] = df[order_cols].fillna(0)

    # Remove commas and convert to float
    for col in order_cols:
        df[col] = df[col].astype(str).str.replace(',', '', regex=False)
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)

    # Group by 'Helper 1'
    grouped_orders = df.groupby('Helper 1')[order_cols].sum().reset_index()

    # Calculate percentage differences
    grouped_orders['Tw/Lw (+/-)'] = (((grouped_orders['Tw Orders'] - grouped_orders['Lw Orders']) / grouped_orders['Lw Orders'].replace(0, pd.NA)) * 100).round(2)
    grouped_orders['Tw/Ly (+/-)'] = (((grouped_orders['Tw Orders'] - grouped_orders['Ly Orders']) / grouped_orders['Ly Orders'].replace(0, pd.NA)) * 100).round(2)

    # Grand total values
    total_tw_orders = df['Tw Orders'].sum()
    total_lw_orders = df['Lw Orders'].sum()
    total_ly_orders = df['Ly Orders'].sum()
    tw_lw_orders_diff = round((total_tw_orders - total_lw_orders) / total_lw_orders * 100, 2) if total_lw_orders != 0 else 0.00
    tw_ly_orders_diff = round((total_tw_orders - total_ly_orders) / total_ly_orders * 100, 2) if total_ly_orders != 0 else 0.00

    # Grand total row
    grand_total_orders = pd.DataFrame([{
        'Helper 1': 'Grand Total',
        'Tw Orders': round(total_tw_orders, 2),
        'Lw Orders': round(total_lw_orders, 2),
        'Ly Orders': round(total_ly_orders, 2),
        'Tw/Lw (+/-)': tw_lw_orders_diff,
        'Tw/Ly (+/-)': tw_ly_orders_diff
    }])

    # Define correct order
    expected_days = [
        '1 - Monday',
        '2 - Tuesday',
        '3 - Wednesday',
        '4 - Thursday',
        '5 - Friday',
        '6 - Saturday',
        '7 - Sunday',
        'Grand Total'
    ]

    # Combine, filter, sort
    orders_table = pd.concat([grouped_orders, grand_total_orders], ignore_index=True)
    orders_table = orders_table[orders_table['Helper 1'].isin(expected_days)]
    orders_table['Helper 1'] = pd.Categorical(orders_table['Helper 1'], categories=expected_days, ordered=True)
    orders_table = orders_table.sort_values('Helper 1').reset_index(drop=True)

    # Rename column
    orders_table = orders_table.rename(columns={'Helper 1': 'Day of The Week'})
    cols_to_round = ['Tw Orders', 'Lw Orders', 'Ly Orders', 'Tw/Lw (+/-)', 'Tw/Ly (+/-)']
    orders_table[cols_to_round] = orders_table[cols_to_round].astype(float).round(2)

    
    
    
    # avg_ticket_table
    # Ticket columns (though named 'Avg', treat them as total amounts to be summed)
    ticket_cols = ['Tw Avg Tckt', 'Lw Avg Tckt', 'Ly Avg Tckt']
    df[ticket_cols] = df[ticket_cols].fillna(0)

    # Clean $, commas and convert to float
    for col in ticket_cols:
        df[col] = df[col].astype(str).str.replace(r'[\$,]', '', regex=True)
        df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)

    # Group by 'Helper 1' and sum (not average)
    grouped_tckt = df.groupby('Helper 1')[ticket_cols].sum().reset_index()

    # Calculate % differences
    grouped_tckt['Tw/Lw (+/-)'] = (((grouped_tckt['Tw Avg Tckt'] - grouped_tckt['Lw Avg Tckt']) / grouped_tckt['Lw Avg Tckt'].replace(0, pd.NA)) * 100).round(2)
    grouped_tckt['Tw/Ly (+/-)'] = (((grouped_tckt['Tw Avg Tckt'] - grouped_tckt['Ly Avg Tckt']) / grouped_tckt['Ly Avg Tckt'].replace(0, pd.NA)) * 100).round(2)

    # Grand total values (averaged)
    tw_avg = round(df['Tw Avg Tckt'].mean(), 2)
    lw_avg = round(df['Lw Avg Tckt'].mean(), 2)
    ly_avg = round(df['Ly Avg Tckt'].mean(), 2)

    tw_lw_diff = round((tw_avg - lw_avg) / lw_avg * 100, 2) if lw_avg != 0 else 0.00
    tw_ly_diff = round((tw_avg - ly_avg) / ly_avg * 100, 2) if ly_avg != 0 else 0.00

    # Grand total row
    grand_total = pd.DataFrame([{
        'Helper 1': 'Grand Total',
        'Tw Avg Tckt': tw_avg,
        'Lw Avg Tckt': lw_avg,
        'Ly Avg Tckt': ly_avg,
        'Tw/Lw (+/-)': tw_lw_diff,
        'Tw/Ly (+/-)': tw_ly_diff
    }])


    # Combine and finalize
    avg_ticket_table = pd.concat([grouped_tckt, grand_total], ignore_index=True)
    avg_ticket_table = avg_ticket_table[avg_ticket_table['Helper 1'].isin(expected_days)]
    avg_ticket_table['Helper 1'] = pd.Categorical(avg_ticket_table['Helper 1'], categories=expected_days, ordered=True)
    avg_ticket_table = avg_ticket_table.sort_values('Helper 1').reset_index(drop=True)
    avg_ticket_table = avg_ticket_table.rename(columns={'Helper 1': 'Day of The Week'})
    # Round all numeric columns to 2 decimal places
    cols_to_round = ['Tw Avg Tckt', 'Lw Avg Tckt', 'Ly Avg Tckt', 'Tw/Lw (+/-)', 'Tw/Ly (+/-)']
    # avg_ticket_table[cols_to_round] = avg_ticket_table[cols_to_round].round(2)
    avg_ticket_table[cols_to_round] = avg_ticket_table[cols_to_round].astype(float).round(2)
    
    

    tw_sales_grand_total =sales_table.loc[sales_table["Day of the Week"] == "Grand Total", "Tw Sales"].values[0]
    lw_sales_grand_total =sales_table.loc[sales_table["Day of the Week"] == "Grand Total", "Lw Sales"].values[0]
    ly_sales_grand_total =sales_table.loc[sales_table["Day of the Week"] == "Grand Total", "Ly Sales"].values[0]

    tw_orders_grand_total =orders_table.loc[orders_table["Day of The Week"] == "Grand Total", "Tw Orders"].values[0]
    lw_orders_grand_total =orders_table.loc[orders_table["Day of The Week"] == "Grand Total", "Lw Orders"].values[0]
    ly_orders_grand_total =orders_table.loc[orders_table["Day of The Week"] == "Grand Total", "Ly Orders"].values[0]

    avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total", "Tw Avg Tckt"] = tw_sales_grand_total / tw_orders_grand_total
    avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total", "Lw Avg Tckt"] = lw_sales_grand_total / lw_orders_grand_total
    avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total", "Ly Avg Tckt"] = ly_sales_grand_total / ly_orders_grand_total

    tw_avg_tckt_grand_total = avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total","Tw Avg Tckt"].values[0]
    lw_avg_tckt_grand_total = avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total","Lw Avg Tckt"].values[0]
    ly_avg_tckt_grand_total = avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total","Ly Avg Tckt"].values[0]

    avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total", "Tw/Lw (+/-)"] = ((tw_avg_tckt_grand_total - lw_avg_tckt_grand_total) / lw_avg_tckt_grand_total * 100).round(2)
    avg_ticket_table.loc[avg_ticket_table["Day of The Week"] == "Grand Total", "Tw/Ly (+/-)"] = ((tw_avg_tckt_grand_total - ly_avg_tckt_grand_total) / ly_avg_tckt_grand_total * 100).round(2)
        
    return sales_table, orders_table, avg_ticket_table

In [205]:
sales, order, avg_ticket = day_of_the_week_tables(df)

In [208]:
avg_ticket

,Day of The Week,Tw Avg Tckt,Lw Avg Tckt,Ly Avg Tckt,Tw/Lw (+/-),Tw/Ly (+/-)
0,1 - Monday,400.750000,400.750000,981.270000,0.0,-59.16
1,2 - Tuesday,464.780000,464.780000,1336.110000,0.0,-65.21
2,3 - Wednesday,488.080000,488.080000,1356.760000,0.0,-64.03
3,4 - Thursday,449.570000,449.570000,2383.050000,0.0,-81.13
4,5 - Friday,401.790000,401.790000,1233.340000,0.0,-67.42
5,6 - Saturday,834.990000,834.990000,237.090000,0.0,252.19
6,7 - Sunday,1208.990000,1208.990000,893.360000,0.0,35.33
7,Grand Total,26.823665,26.716708,24.337258,0.4,10.22

wokring on the finnancial dashboard now

In [ ]:
selected_store = '0001: Midtown East'
selected_year = 2025
selected_week_range = '1 | 12/30/2024 - 01/05/2025'  # or use ISO week number

In [158]:
# Load the DataFrame (simulate loading here for structure)
# Assuming `df` is already available

# Sample structure to create the filtered and calculated view
def calculate_summary(df, store, year, week_range):
    # Strip and clean column names
    df.columns = df.columns.str.strip()

    # Apply filters
    filtered_df = df[
        (df['Store'].str.strip() == store) &
        (df['Year'] == year) &
        (df['Helper 4'].str.strip() == week_range)
    ].copy()

    # Ensure numeric columns are properly typed
    def clean_currency(col):
        return pd.to_numeric(
            filtered_df[col].astype(str).str.replace(r'[\$,]', '', regex=True),
            errors='coerce'
        ).fillna(0)

    filtered_df['Tw Sales'] = clean_currency('Tw Sales')
    filtered_df['Lw Sales'] = clean_currency('Lw Sales')
    filtered_df['Ly Sales'] = clean_currency('Ly Sales')
    filtered_df['Tw Orders'] = clean_currency('Tw Orders')
    filtered_df['Tw Labor Hrs'] = clean_currency('Tw Labor Hrs')
    filtered_df['Tw Reg Pay'] = clean_currency('Tw Reg Pay')

    # This Week's Trend
    tw_net_sales = filtered_df['Tw Sales'].sum()
    orders = filtered_df['Tw Orders'].sum()
    avg_ticket = tw_net_sales / orders if orders != 0 else 0
    lbr_hrs = filtered_df['Tw Labor Hrs'].sum()
    lbr_pay = filtered_df['Tw Reg Pay'].sum()
    lbr_pct = lbr_pay / tw_net_sales if tw_net_sales != 0 else 0

    # Last Week
    lw_net_sales = filtered_df['Lw Sales'].sum()
    lw_pct = lbr_pct - 0  # Placeholder, no Lw Labor Pay in scope

    # LY Sales
    ly_net_sales = filtered_df['Ly Sales'].sum()

    # Results DataFrame
    result = pd.DataFrame({
        'Metric': [
            'Tw Net Sales', 'Orders', 'Avg Ticket', 'Lbr hrs', 'Lbr Pay', 'Lbr %',
            'Lw Net Sales', 'Ly Net Sales'
        ],
        'Value': [
            f"${tw_net_sales:,.2f}", int(orders), f"${avg_ticket:,.2f}", lbr_hrs,
            f"${lbr_pay:,.2f}", f"{lbr_pct * 100:.2f}%",
            f"${lw_net_sales:,.2f}", f"${ly_net_sales:,.2f}"
        ]
    })

    return result

# This code will be executed once the actual DataFrame is available
# Here we just define the logic and structure

In [159]:
result = calculate_summary(df, selected_store, selected_year, selected_week_range)

In [160]:
result

         Metric       Value
0  Tw Net Sales  $28,643.47
1        Orders        1209
2    Avg Ticket      $23.69
3       Lbr hrs       300.0
4       Lbr Pay   $6,249.00
5         Lbr %      21.82%
6  Lw Net Sales  $13,072.73
7  Ly Net Sales  $30,138.17

In [ ]:
def calculate_full_summary(df, store, year, week_range):
    df.columns = df.columns.str.strip()

    # Filter the data
    filtered_df = df[
        (df['Store'].str.strip() == store) &
        (df['Year'] == year) &
        (df['Helper 4'].str.strip() == week_range)
    ].copy()

    # Convert all currency fields to numeric
    def clean_currency(col):
        return pd.to_numeric(
            filtered_df[col].astype(str).str.replace(r'[\$,]', '', regex=True),
            errors='coerce'
        ).fillna(0)

    cols_to_clean = [
        'Tw Sales', 'Lw Sales', 'Ly Sales', 'Tw Orders', 'Tw Labor Hrs', 'Tw Reg Pay',
        'Tw SPMH', 'Tw LPMH', 'Tw COGS'
    ]
    for col in cols_to_clean:
        filtered_df[col] = clean_currency(col)

    # Individual vendor cost columns
    vendor_cols = ['TW', 'TW .1', 'TW .2', 'TW .3', 'TW .4', 'TW .5']
    for col in vendor_cols:
        filtered_df[col] = clean_currency(col)

    # Metrics
    tw_net_sales = filtered_df['Tw Sales'].sum()
    orders = filtered_df['Tw Orders'].sum()
    avg_ticket = tw_net_sales / orders if orders != 0 else 0
    lbr_hrs = filtered_df['Tw Labor Hrs'].sum()
    lbr_pay = filtered_df['Tw Reg Pay'].sum()
    lbr_pct = lbr_pay / tw_net_sales if tw_net_sales != 0 else 0
    spmh = filtered_df['Tw SPMH'].mean()
    lpmh = filtered_df['Tw LPMH'].mean()

    # Vendor costs
    vendor_totals = {name: filtered_df[col].sum() for name, col in zip(
        ['Tw Johns', 'Terra', 'Metro', 'Victory', 'Central Kitchen', 'Other'], vendor_cols)}

    # Total food cost and Prime cost
    ttl = sum(vendor_totals.values())
    food_cost_pct = ttl / tw_net_sales if tw_net_sales != 0 else 0
    prime_cost = ttl + lbr_pay
    prime_cost_pct = prime_cost / tw_net_sales if tw_net_sales != 0 else 0

    # Construct result
    result = pd.DataFrame([
        ('SPMH', f"${spmh:,.2f}"),
        ('LPMH', f"${lpmh:,.2f}"),
        *[(vendor, f"${amt:,.2f}") for vendor, amt in vendor_totals.items()],
        ('', f"${0:,.2f}"),  # 4 empty rows
        ('', f"${0:,.2f}"),
        ('', f"${0:,.2f}"),
        ('', f"${0:,.2f}"),
        ('TTL', f"${ttl:,.2f}"),
        ('Food Cost %', f"{food_cost_pct * 100:.2f}%"),
        ('Prime Cost $', f"${prime_cost:,.2f}"),
        ('Prime Cost %', f"{prime_cost_pct * 100:.2f}%")
    ], columns=["Metric", "Value"])

    return result

# Ready to run once df is present and cleaned.

In [162]:
calculate_full_summary(df, selected_store, selected_year, selected_week_range)

             Metric       Value
0              SPMH      $68.20
1              LPMH      $20.83
2          Tw Johns      $31.50
3             Terra     $359.65
4             Metro   $1,221.21
5           Victory       $0.00
6   Central Kitchen   $6,991.14
7             Other     $165.00
8               TTL   $8,768.50
9       Food Cost %      30.61%
10     Prime Cost $  $15,017.50
11     Prime Cost %      52.43%

In [167]:

# Sample structure to create the filtered and calculated view
def calculate_this_weeks_trend(df, store, year, week_range):
    # Strip and clean column names
    df.columns = df.columns.str.strip()

    # Apply filters
    filtered_df = df[
        (df['Store'].str.strip() == store) &
        (df['Year'] == year) &
        (df['Helper 4'].str.strip() == week_range)
    ].copy()

    # Ensure numeric columns are properly typed
    def clean_currency(col):
        return pd.to_numeric(
            filtered_df[col].astype(str).str.replace(r'[\$,]', '', regex=True),
            errors='coerce'
        ).fillna(0)

    filtered_df['Tw Sales'] = clean_currency('Tw Sales')
    filtered_df['Lw Sales'] = clean_currency('Lw Sales')
    filtered_df['Ly Sales'] = clean_currency('Ly Sales')
    filtered_df['Tw Orders'] = clean_currency('Tw Orders')
    filtered_df['Tw Labor Hrs'] = clean_currency('Tw Labor Hrs')
    filtered_df['Tw Reg Pay'] = clean_currency('Tw Reg Pay')

    # This Week's Trend
    tw_net_sales = filtered_df['Tw Sales'].sum()
    orders = filtered_df['Tw Orders'].sum()
    avg_ticket = tw_net_sales / orders if orders != 0 else 0
    lbr_hrs = filtered_df['Tw Labor Hrs'].sum()
    lbr_pay = filtered_df['Tw Reg Pay'].sum()
    lbr_pct = lbr_pay / tw_net_sales if tw_net_sales != 0 else 0

    # Last Week
    lw_net_sales = filtered_df['Lw Sales'].sum()
    # lw_pct = lbr_pct - 0  # Placeholder, no Lw Labor Pay in scope

    # LY Sales
    ly_net_sales = filtered_df['Ly Sales'].sum()
    
    
    # Convert all currency fields to numeric
    def clean_currency(col):
        return pd.to_numeric(
            filtered_df[col].astype(str).str.replace(r'[\$,]', '', regex=True),
            errors='coerce'
        ).fillna(0)

    cols_to_clean = [
        'Tw Sales', 'Lw Sales', 'Ly Sales', 'Tw Orders', 'Tw Labor Hrs', 'Tw Reg Pay',
        'Tw SPMH', 'Tw LPMH', 'Tw COGS'
    ]
    for col in cols_to_clean:
        filtered_df[col] = clean_currency(col)

    # Individual vendor cost columns
    vendor_cols = ['TW', 'TW .1', 'TW .2', 'TW .3', 'TW .4', 'TW .5']
    for col in vendor_cols:
        filtered_df[col] = clean_currency(col)

    # Metrics
    tw_net_sales = filtered_df['Tw Sales'].sum()
    orders = filtered_df['Tw Orders'].sum()
    avg_ticket = tw_net_sales / orders if orders != 0 else 0
    lbr_hrs = filtered_df['Tw Labor Hrs'].sum()
    lbr_pay = filtered_df['Tw Reg Pay'].sum()
    lbr_pct = lbr_pay / tw_net_sales if tw_net_sales != 0 else 0
    spmh = filtered_df['Tw SPMH'].mean()
    lpmh = lbr_pay / lbr_hrs if lbr_hrs != 0 else 0

    # Vendor costs
    vendor_totals = {name: filtered_df[col].sum() for name, col in zip(
        ['Tw Johns', 'Terra', 'Metro', 'Victory', 'Central Kitchen', 'Other'], vendor_cols)}

    # Total food cost and Prime cost
    ttl = sum(vendor_totals.values())
    food_cost_pct = ttl / tw_net_sales if tw_net_sales != 0 else 0
    prime_cost = ttl + lbr_pay
    prime_cost_pct = prime_cost / tw_net_sales if tw_net_sales != 0 else 0


    # Results DataFrame
    result = pd.DataFrame({
        'Metric': [
            'Tw Net Sales', 'Orders', 'Avg Ticket', 'Lbr hrs', 'Lbr Pay', 'Lbr %',
            'Lw Net Sales', 'Ly Net Sales'
        ],
        'Value': [
            f"${tw_net_sales:,.2f}", int(orders), f"${avg_ticket:,.2f}", lbr_hrs,
            f"${lbr_pay:,.2f}", f"{lbr_pct * 100:.2f}%",
            f"${lw_net_sales:,.2f}", f"${ly_net_sales:,.2f}"
        ]
    })
    # Construct result
    result = pd.DataFrame([
        ("Tw Net Sales", f"${tw_net_sales:,.2f}"),
        ("Orders", int(orders)),
        ("Avg Ticket", f"${avg_ticket:,.2f}"),
        ("Lbr hrs", lbr_hrs),
        ("Lbr Pay", f"${lbr_pay:,.2f}"),
        ("Lbr %", f"{lbr_pct * 100:.2f}%"),
        ('SPMH', f"${spmh:,.2f}"),
        ('LPMH', f"${lpmh:,.2f}"),
        *[(vendor, f"${amt:,.2f}") for vendor, amt in vendor_totals.items()],
                ('', f"${0:,.2f}"),  # 4 empty rows
        ('', f"${0:,.2f}"),
        ('', f"${0:,.2f}"),
        ('', f"${0:,.2f}"),
        ('TTL', f"${ttl:,.2f}"),
        ('Food Cost %', f"{food_cost_pct * 100:.2f}%"),
        ('Prime Cost $', f"${prime_cost:,.2f}"),
        ('Prime Cost %', f"{prime_cost_pct * 100:.2f}%")
    ], columns=["Metric", "Value"])


    return result

# This code will be executed once the actual DataFrame is available
# Here we just define the logic and structure

In [168]:
calculate_this_weeks_trend(df, selected_store, selected_year, selected_week_range)

             Metric       Value
0      Tw Net Sales  $28,643.47
1            Orders        1209
2        Avg Ticket      $23.69
3           Lbr hrs       300.0
4           Lbr Pay   $6,249.00
5             Lbr %      21.82%
6              SPMH      $68.20
7              LPMH      $20.83
8          Tw Johns      $31.50
9             Terra     $359.65
10            Metro   $1,221.21
11          Victory       $0.00
12  Central Kitchen   $6,991.14
13            Other     $165.00
14                        $0.00
15                        $0.00
16                        $0.00
17                        $0.00
18              TTL   $8,768.50
19      Food Cost %      30.61%
20     Prime Cost $  $15,017.50
21     Prime Cost %      52.43%

Last Weeks Summary

In [169]:
def calculate_last_weeks_trend(df, store, year, week_range):
    df.columns = df.columns.str.strip()

    # Filter the data
    filtered_df = df[
        (df['Store'].str.strip() == store) &
        (df['Year'] == year) &
        (df['Helper 4'].str.strip() == week_range)
    ].copy()

    # Convert all relevant columns
    def clean_currency(col):
        return pd.to_numeric(
            filtered_df[col].astype(str).str.replace(r'[\$,]', '', regex=True),
            errors='coerce'
        ).fillna(0)

    cols_to_clean = [
        'Lw Sales', 'Lw Orders', 'Lw Labor Hrs', 'Lw Reg Pay',
        'Lw SPMH', 'Lw LPMH', 'Lw COGS'
    ]
    for col in cols_to_clean:
        filtered_df[col] = clean_currency(col)

    vendor_cols = ['LW', 'LW .1', 'LW .2', 'LW .3', 'LW .4', 'LW .5']
    for col in vendor_cols:
        filtered_df[col] = clean_currency(col)

    # Aggregate values
    lw_net_sales = filtered_df['Lw Sales'].sum()
    lw_orders = filtered_df['Lw Orders'].sum()
    avg_ticket = lw_net_sales / lw_orders if lw_orders != 0 else 0
    lbr_hrs = filtered_df['Lw Labor Hrs'].sum()
    lbr_pay = filtered_df['Lw Reg Pay'].sum()
    lbr_pct = lbr_pay / lw_net_sales if lw_net_sales != 0 else 0
    spmh = lw_net_sales / lbr_hrs if lbr_hrs != 0 else 0
    lpmh = lbr_pay / lbr_hrs if lbr_hrs != 0 else 0

    vendor_totals = {name: filtered_df[col].sum() for name, col in zip(
        ['Tw Johns', 'Terra', 'Metro', 'Victory', 'Central Kitchen', 'Other'], vendor_cols)}

    ttl = sum(vendor_totals.values())
    food_cost_pct = ttl / lw_net_sales if lw_net_sales != 0 else 0
    prime_cost = ttl + lbr_pay
    prime_cost_pct = prime_cost / lw_net_sales if lw_net_sales != 0 else 0

    # Construct result
    result = pd.DataFrame([
        ('Lw Net Sales', f"${lw_net_sales:,.2f}"),
        ('Orders', int(lw_orders)),
        ('Avg Ticket', f"${avg_ticket:,.2f}"),
        ('Lbr hrs', lbr_hrs),
        ('Lbr Pay', f"${lbr_pay:,.2f}"),
        ('Lbr %', f"{lbr_pct * 100:.2f}%"),
        ('SPMH', f"${spmh:,.2f}"),
        ('LPMH', f"${lpmh:,.2f}"),
        *[(vendor, f"${amt:,.2f}") for vendor, amt in vendor_totals.items()],
        ('', f"${0:,.2f}"),
        ('', f"${0:,.2f}"),
        ('', f"${0:,.2f}"),
        ('', f"${0:,.2f}"),
        ('TTL', f"${ttl:,.2f}"),
        ('Food Cost %', f"{food_cost_pct * 100:.2f}%"),
        ('Prime Cost $', f"${prime_cost:,.2f}"),
        ('Prime Cost %', f"{prime_cost_pct * 100:.2f}%")
    ], columns=["Metric", "Value"])

    return result

# You can run this once df is loaded
# last_week_summary = calculate_last_week_summary(df, "0001: Midtown East", 2025, "1 | 12/30/2024 - 01/05/2025")

In [170]:
calculate_last_weeks_trend(df, selected_store, selected_year, selected_week_range)

             Metric       Value
0      Lw Net Sales  $13,072.73
1            Orders         614
2        Avg Ticket      $21.29
3           Lbr hrs       240.0
4           Lbr Pay   $3,760.20
5             Lbr %      28.76%
6              SPMH      $54.47
7              LPMH      $15.67
8          Tw Johns       $0.00
9             Terra     $167.80
10            Metro     $653.04
11          Victory       $0.00
12  Central Kitchen   $3,640.89
13            Other      $59.00
14                        $0.00
15                        $0.00
16                        $0.00
17                        $0.00
18              TTL   $4,520.73
19      Food Cost %      34.58%
20     Prime Cost $   $8,280.93
21     Prime Cost %      63.35%

with tw/lw

In [180]:
def calculate_tw_lw_comparison(df, store, year, week_range):
    df.columns = df.columns.str.strip()

    # Filter data
    mask = (
        (df['Store'].str.strip() == store) &
        (df['Year'] == year) &
        (df['Helper 4'].str.strip() == week_range)
    )
    filtered_df = df[mask].copy()

    # Clean function
    def clean_currency(col):
        return pd.to_numeric(
            filtered_df[col].astype(str).str.replace(r'[\$,]', '', regex=True),
            errors='coerce'
        ).fillna(0)

    # Define matching columns
    metrics = {
        'Net Sales': ('Tw Sales', 'Lw Sales'),
        'Orders': ('Tw Orders', 'Lw Orders'),
        'Lbr hrs': ('Tw Labor Hrs', 'Lw Labor Hrs'),
        'Lbr Pay': ('Tw Reg Pay', 'Lw Reg Pay'),
        'SPMH': ('Tw SPMH', 'Lw SPMH'),
        'LPMH': ('Tw LPMH', 'Lw LPMH'),
        'Tw Johns': ('TW', 'LW'),
        'Terra': ('TW .1', 'LW .1'),
        'Metro': ('TW .2', 'LW .2'),
        'Victory': ('TW .3', 'LW .3'),
        'Central Kitchen': ('TW .4', 'LW .4'),
        'Other': ('TW .5', 'LW .5'),
        # 'COGS': ('Tw COGS', 'Lw COGS')
    }

    for tw_col, lw_col in metrics.values():
        filtered_df[tw_col] = clean_currency(tw_col)
        filtered_df[lw_col] = clean_currency(lw_col)

    # Calculate values
    rows = []
    for label, (tw_col, lw_col) in metrics.items():
        tw = filtered_df[tw_col].sum()
        lw = filtered_df[lw_col].sum()
        pct = ((tw - lw) / lw * 100) if lw != 0 else 0
        rows.append((label, f"${tw:,.2f}", f"${lw:,.2f}", f"{pct:.2f}%"))

    # Additional Calculations
    tw_lbr_pay = filtered_df['Tw Reg Pay'].sum()
    tw_net_sales = filtered_df['Tw Sales'].sum()
    lw_lbr_pay = filtered_df['Lw Reg Pay'].sum()
    lw_net_sales = filtered_df['Lw Sales'].sum()

    tw_lbr_pct = tw_lbr_pay / tw_net_sales * 100 if tw_net_sales != 0 else 0
    lw_lbr_pct = lw_lbr_pay / lw_net_sales * 100 if lw_net_sales != 0 else 0
    lbr_diff = tw_lbr_pct - lw_lbr_pct
    rows.insert(4, ("Lbr %", f"{tw_lbr_pct:.2f}%", f"{lw_lbr_pct:.2f}%", f"{lbr_diff:.2f}%"))

    # TTL / Food Cost %
    tw_ttl = sum(filtered_df[col].sum() for col in ['TW', 'TW .1', 'TW .2', 'TW .3', 'TW .4', 'TW .5'])
    lw_ttl = sum(filtered_df[col].sum() for col in ['LW', 'LW .1', 'LW .2', 'LW .3', 'LW .4', 'LW .5'])
    ttl_diff = ((tw_ttl - lw_ttl) / lw_ttl * 100) if lw_ttl != 0 else 0
    rows.append(("TTL", f"${tw_ttl:,.2f}", f"${lw_ttl:,.2f}", f"{ttl_diff:.2f}%"))

    # Food Cost % difference
    tw_food_pct = tw_ttl / tw_net_sales * 100 if tw_net_sales != 0 else 0
    lw_food_pct = lw_ttl / lw_net_sales * 100 if lw_net_sales != 0 else 0
    food_diff = tw_food_pct - lw_food_pct
    rows.append(("Food Cost %", f"{tw_food_pct:.2f}%", f"{lw_food_pct:.2f}%", f"{food_diff:.2f}%"))

    # Prime Cost $
    tw_prime = tw_lbr_pay + tw_ttl
    lw_prime = lw_lbr_pay + lw_ttl
    prime_diff = ((tw_prime - lw_prime) / lw_prime * 100) if lw_prime != 0 else 0
    rows.append(("Prime Cost $", f"${tw_prime:,.2f}", f"${lw_prime:,.2f}", f"{prime_diff:.2f}%"))

    # Prime Cost %
    tw_prime_pct = tw_prime / tw_net_sales * 100 if tw_net_sales != 0 else 0
    lw_prime_pct = lw_prime / lw_net_sales * 100 if lw_net_sales != 0 else 0
    prime_pct_diff = tw_prime_pct - lw_prime_pct
    rows.append(("Prime Cost %", f"{tw_prime_pct:.2f}%", f"{lw_prime_pct:.2f}%", f"{prime_pct_diff:.2f}%"))

    # Final DataFrame
    result = pd.DataFrame(rows, columns=["Metric", "This Week", "Last Week", "Tw/Lw (+/-)"])
    return result

# This function is ready to call:
# calculate_tw_lw_comparison(df, "0001: Midtown East", 2025, "1 | 12/30/2024 - 01/05/2025")

In [182]:
# calculate_tw_lw_comparison(df, "0001: Midtown East", 2025, "2 | 01/06/2025 - 01/12/2025")
calculate_tw_lw_comparison(df, "0001: Midtown East", 2025, "1 | 12/30/2024 - 01/05/2025")

             Metric  This Week Last Week Tw/Lw (+/-)
0         Net Sales  $8,268.68     $0.00       0.00%
1            Orders    $372.00     $0.00       0.00%
2           Lbr hrs    $120.00     $0.00       0.00%
3           Lbr Pay  $2,499.60     $0.00       0.00%
4             Lbr %     30.23%     0.00%      30.23%
5              SPMH    $137.81     $0.00       0.00%
6              LPMH     $41.66     $0.00       0.00%
7          Tw Johns      $0.00     $0.00       0.00%
8             Terra      $0.00     $0.00       0.00%
9             Metro      $0.00     $0.00       0.00%
10          Victory      $0.00     $0.00       0.00%
11  Central Kitchen      $0.00     $0.00       0.00%
12            Other      $0.00     $0.00       0.00%
13              TTL      $0.00     $0.00       0.00%
14      Food Cost %      0.00%     0.00%       0.00%
15     Prime Cost $  $2,499.60     $0.00       0.00%
16     Prime Cost %     30.23%     0.00%      30.23%

with budget

In [191]:
def calculate_tw_lw_bdg_comparison(df, store, year, week_range):
    df.columns = df.columns.str.strip()
    
    # Filter data
    mask = (
        (df['Store'].str.strip() == store) &
        (df['Year'] == year) &
        (df['Helper 4'].str.strip() == week_range)
    )
    filtered_df = df[mask].copy()
    

    
    # Clean function
    def clean_currency(df, col):
        return pd.to_numeric(
            df[col].astype(str).str.replace(r'[\$,]', '', regex=True),
            errors='coerce'
        ).fillna(0)
    
    # Define matching columns
    metrics = {
        'Net Sales': ('Tw Sales', 'Lw Sales', 'Budget Sales'),
        'Orders': ('Tw Orders', 'Lw Orders', 'Budget Orders'),
        'Lbr hrs': ('Tw Labor Hrs', 'Lw Labor Hrs', 'Budget Labor Hrs'),
        'Lbr Pay': ('Tw Reg Pay', 'Lw Reg Pay', 'Budget Labor Pay'),
        'SPMH': ('Tw SPMH', 'Lw SPMH', 'Budget SPMH'),
        'LPMH': ('Tw LPMH', 'Lw LPMH', 'Budget LPMH'),
        'Tw Johns': ('TW', 'LW', 'Budget Johns'),
        'Terra': ('TW .1', 'LW .1', 'Budget Terra'),
        'Metro': ('TW .2', 'LW .2', 'Budget Metro'),
        'Victory': ('TW .3', 'LW .3', 'Budget Victory'),
        'Central Kitchen': ('TW .4', 'LW .4', 'Budget CK'),
        'Other': ('TW .5', 'LW .5', 'Budget Other'),
    }
    
    # Process actual data columns
    for tw_col, lw_col, _ in metrics.values():
        filtered_df[tw_col] = clean_currency(filtered_df, tw_col)
        filtered_df[lw_col] = clean_currency(filtered_df, lw_col)
    
    # Process budget data columns
    budget_values = {}
    for metric, (_, _, bdg_col) in metrics.items():
        if filtered_df.empty:
            budget_values[metric] = 0
        else:
            budget_values[metric] = clean_currency(filtered_df, bdg_col).sum() if bdg_col in filtered_df.columns else 0
    
    # Calculate values
    rows = []
    for label, (tw_col, lw_col, _) in metrics.items():
        tw = filtered_df[tw_col].sum()
        lw = filtered_df[lw_col].sum()
        bdg = budget_values[label]
        
        tw_lw_pct = ((tw - lw) / lw * 100) if lw != 0 else 0
        tw_bdg_pct = ((tw - bdg) / bdg * 100) if bdg != 0 else 0
        
        rows.append((
            label, 
            f"${tw:,.2f}", 
            f"${lw:,.2f}", 
            f"{tw_lw_pct:.2f}%",
            f"${bdg:,.2f}",
            f"{tw_bdg_pct:.2f}%"
        ))
    
    # Additional Calculations
    tw_lbr_pay = filtered_df['Tw Reg Pay'].sum()
    tw_net_sales = filtered_df['Tw Sales'].sum()
    lw_lbr_pay = filtered_df['Lw Reg Pay'].sum()
    lw_net_sales = filtered_df['Lw Sales'].sum()
    bdg_lbr_pay = budget_values['Lbr Pay']
    bdg_net_sales = budget_values['Net Sales']
    
    # Labor percentage calculations
    tw_lbr_pct = tw_lbr_pay / tw_net_sales * 100 if tw_net_sales != 0 else 0
    lw_lbr_pct = lw_lbr_pay / lw_net_sales * 100 if lw_net_sales != 0 else 0
    bdg_lbr_pct = bdg_lbr_pay / bdg_net_sales * 100 if bdg_net_sales != 0 else 0
    
    lbr_tw_lw_diff = tw_lbr_pct - lw_lbr_pct
    lbr_tw_bdg_diff = tw_lbr_pct - bdg_lbr_pct
    
    rows.insert(4, (
        "Lbr %", 
        f"{tw_lbr_pct:.2f}%", 
        f"{lw_lbr_pct:.2f}%", 
        f"{lbr_tw_lw_diff:.2f}%",
        f"{bdg_lbr_pct:.2f}%",
        f"{lbr_tw_bdg_diff:.2f}%"
    ))
    
    # TTL calculations
    tw_ttl = sum(filtered_df[col].sum() for col in ['TW', 'TW .1', 'TW .2', 'TW .3', 'TW .4', 'TW .5'])
    lw_ttl = sum(filtered_df[col].sum() for col in ['LW', 'LW .1', 'LW .2', 'LW .3', 'LW .4', 'LW .5'])
    bdg_ttl = sum(budget_values[m] for m in ['Tw Johns', 'Terra', 'Metro', 'Victory', 'Central Kitchen', 'Other'])
    
    ttl_tw_lw_diff = ((tw_ttl - lw_ttl) / lw_ttl * 100) if lw_ttl != 0 else 0
    ttl_tw_bdg_diff = ((tw_ttl - bdg_ttl) / bdg_ttl * 100) if bdg_ttl != 0 else 0
    
    rows.append((
        "TTL", 
        f"${tw_ttl:,.2f}", 
        f"${lw_ttl:,.2f}", 
        f"{ttl_tw_lw_diff:.2f}%",
        f"${bdg_ttl:,.2f}",
        f"{ttl_tw_bdg_diff:.2f}%"
    ))
    
    # Food Cost percentage calculations
    tw_food_pct = tw_ttl / tw_net_sales * 100 if tw_net_sales != 0 else 0
    lw_food_pct = lw_ttl / lw_net_sales * 100 if lw_net_sales != 0 else 0
    bdg_food_pct = bdg_ttl / bdg_net_sales * 100 if bdg_net_sales != 0 else 0
    
    food_tw_lw_diff = tw_food_pct - lw_food_pct
    food_tw_bdg_diff = tw_food_pct - bdg_food_pct
    
    rows.append((
        "Food Cost %", 
        f"{tw_food_pct:.2f}%", 
        f"{lw_food_pct:.2f}%", 
        f"{food_tw_lw_diff:.2f}%",
        f"{bdg_food_pct:.2f}%",
        f"{food_tw_bdg_diff:.2f}%"
    ))
    
    # Prime Cost $ calculations
    tw_prime = tw_lbr_pay + tw_ttl
    lw_prime = lw_lbr_pay + lw_ttl
    bdg_prime = bdg_lbr_pay + bdg_ttl
    
    prime_tw_lw_diff = ((tw_prime - lw_prime) / lw_prime * 100) if lw_prime != 0 else 0
    prime_tw_bdg_diff = ((tw_prime - bdg_prime) / bdg_prime * 100) if bdg_prime != 0 else 0
    
    rows.append((
        "Prime Cost $", 
        f"${tw_prime:,.2f}", 
        f"${lw_prime:,.2f}", 
        f"{prime_tw_lw_diff:.2f}%",
        f"${bdg_prime:,.2f}",
        f"{prime_tw_bdg_diff:.2f}%"
    ))
    
    # Prime Cost % calculations
    tw_prime_pct = tw_prime / tw_net_sales * 100 if tw_net_sales != 0 else 0
    lw_prime_pct = lw_prime / lw_net_sales * 100 if lw_net_sales != 0 else 0
    bdg_prime_pct = bdg_prime / bdg_net_sales * 100 if bdg_net_sales != 0 else 0
    
    prime_pct_tw_lw_diff = tw_prime_pct - lw_prime_pct
    prime_pct_tw_bdg_diff = tw_prime_pct - bdg_prime_pct
    
    rows.append((
        "Prime Cost %", 
        f"{tw_prime_pct:.2f}%", 
        f"{lw_prime_pct:.2f}%", 
        f"{prime_pct_tw_lw_diff:.2f}%",
        f"{bdg_prime_pct:.2f}%",
        f"{prime_pct_tw_bdg_diff:.2f}%"
    ))
    
    # Calculate Avg Ticket values
    tw_avg_ticket = tw_net_sales / filtered_df['Tw Orders'].sum() if filtered_df['Tw Orders'].sum() != 0 else 0
    lw_avg_ticket = lw_net_sales / filtered_df['Lw Orders'].sum() if filtered_df['Lw Orders'].sum() != 0 else 0
    bdg_avg_ticket = bdg_net_sales / budget_values['Orders'] if budget_values['Orders'] != 0 else 0
    
    avg_ticket_tw_lw_diff = ((tw_avg_ticket - lw_avg_ticket) / lw_avg_ticket * 100) if lw_avg_ticket != 0 else 0
    avg_ticket_tw_bdg_diff = ((tw_avg_ticket - bdg_avg_ticket) / bdg_avg_ticket * 100) if bdg_avg_ticket != 0 else 0
    
    # Insert the Avg Ticket row after Orders (at index 2)
    rows.insert(2, (
        "Avg Ticket", 
        f"${tw_avg_ticket:.2f}", 
        f"${lw_avg_ticket:.2f}", 
        f"{avg_ticket_tw_lw_diff:.2f}%",
        f"${bdg_avg_ticket:.2f}",
        f"{avg_ticket_tw_bdg_diff:.2f}%"
    ))
    
    # Final DataFrame
    result = pd.DataFrame(
        rows, 
        columns=["Metric", "This Week", "Last Week", "Tw/Lw (+/-)", "Budget", "Tw/Bdg (+/-)"]
    )
    return result

In [193]:
# calculate_tw_lw_budget_comparison(df, "0001: Midtown East", 2025, "1 | 12/30/2024 - 01/05/2025")
calculate_tw_lw_bdg_comparison(df, "0001: Midtown East", 2025, "1 | 12/30/2024 - 01/05/2025")

             Metric  This Week Last Week Tw/Lw (+/-) Budget Tw/Bdg (+/-)
0         Net Sales  $8,268.68     $0.00       0.00%  $0.00        0.00%
1            Orders    $372.00     $0.00       0.00%  $0.00        0.00%
2        Avg Ticket     $22.23     $0.00       0.00%  $0.00        0.00%
3           Lbr hrs    $120.00     $0.00       0.00%  $0.00        0.00%
4           Lbr Pay  $2,499.60     $0.00       0.00%  $0.00        0.00%
5             Lbr %     30.23%     0.00%      30.23%  0.00%       30.23%
6              SPMH    $137.81     $0.00       0.00%  $0.00        0.00%
7              LPMH     $41.66     $0.00       0.00%  $0.00        0.00%
8          Tw Johns      $0.00     $0.00       0.00%  $0.00        0.00%
9             Terra      $0.00     $0.00       0.00%  $0.00        0.00%
10            Metro      $0.00     $0.00       0.00%  $0.00        0.00%
11          Victory      $0.00     $0.00       0.00%  $0.00        0.00%
12  Central Kitchen      $0.00     $0.00       0.00%  $0.00        0.00%
13            Other      $0.00     $0.00       0.00%  $0.00        0.00%
14              TTL      $0.00     $0.00       0.00%  $0.00        0.00%
15      Food Cost %      0.00%     0.00%       0.00%  0.00%        0.00%
16     Prime Cost $  $2,499.60     $0.00       0.00%  $0.00        0.00%
17     Prime Cost %     30.23%     0.00%      30.23%  0.00%       30.23%

In [199]:
def calculate_tw_lw_bdg_comparison(df, store, year, week_range):
    df.columns = df.columns.str.strip()
    
    # Filter data
    mask = (
        (df['Store'].str.strip() == store) &
        (df['Year'] == year) &
        (df['Helper 4'].str.strip() == week_range)
    )
    filtered_df = df[mask].copy()
    
    # Clean function
    def clean_currency(df, col):
        return pd.to_numeric(
            df[col].astype(str).str.replace(r'[\$,]', '', regex=True),
            errors='coerce'
        ).fillna(0)
    
    # Define matching columns
    metrics = {
        'Net Sales': ('Tw Sales', 'Lw Sales', 'Budget Sales'),
        'Orders': ('Tw Orders', 'Lw Orders', 'Budget Orders'),
        'Lbr hrs': ('Tw Labor Hrs', 'Lw Labor Hrs', 'Budget Labor Hrs'),
        'Lbr Pay': ('Tw Reg Pay', 'Lw Reg Pay', 'Budget Labor Pay'),
        'SPMH': ('Tw SPMH', 'Lw SPMH', 'Budget SPMH'),
        'LPMH': ('Tw LPMH', 'Lw LPMH', 'Budget LPMH'),
        'Tw Johns': ('TW', 'LW', 'Budget Johns'),
        'Terra': ('TW .1', 'LW .1', 'Budget Terra'),
        'Metro': ('TW .2', 'LW .2', 'Budget Metro'),
        'Victory': ('TW .3', 'LW .3', 'Budget Victory'),
        'Central Kitchen': ('TW .4', 'LW .4', 'Budget CK'),
        'Other': ('TW .5', 'LW .5', 'Budget Other'),
    }
    
    # Process actual data columns
    for tw_col, lw_col, _ in metrics.values():
        filtered_df[tw_col] = clean_currency(filtered_df, tw_col)
        filtered_df[lw_col] = clean_currency(filtered_df, lw_col)
    
    # Process budget data columns
    budget_values = {}
    for metric, (_, _, bdg_col) in metrics.items():
        if filtered_df.empty:
            budget_values[metric] = 0
        else:
            budget_values[metric] = clean_currency(filtered_df, bdg_col).sum() if bdg_col in filtered_df.columns else 0
    
    # Calculate values
    rows = []
    for label, (tw_col, lw_col, _) in metrics.items():
        tw = filtered_df[tw_col].sum()
        lw = filtered_df[lw_col].sum()
        bdg = budget_values[label]
        
        tw_lw_pct = ((tw - lw) / lw * 100) if lw != 0 else 0
        tw_bdg_pct = ((tw - bdg) / bdg * 100) if bdg != 0 else 0
        
        rows.append((
            label, 
            f"{tw:.2f}", 
            f"{lw:.2f}", 
            f"{tw_lw_pct:.2f}",
            f"{bdg:.2f}",
            f"{tw_bdg_pct:.2f}"
        ))
    
    # Additional Calculations
    tw_lbr_pay = filtered_df['Tw Reg Pay'].sum()
    tw_net_sales = filtered_df['Tw Sales'].sum()
    lw_lbr_pay = filtered_df['Lw Reg Pay'].sum()
    lw_net_sales = filtered_df['Lw Sales'].sum()
    bdg_lbr_pay = budget_values['Lbr Pay']
    bdg_net_sales = budget_values['Net Sales']
    
    # Labor percentage calculations
    tw_lbr_pct = tw_lbr_pay / tw_net_sales * 100 if tw_net_sales != 0 else 0
    lw_lbr_pct = lw_lbr_pay / lw_net_sales * 100 if lw_net_sales != 0 else 0
    bdg_lbr_pct = bdg_lbr_pay / bdg_net_sales * 100 if bdg_net_sales != 0 else 0
    
    lbr_tw_lw_diff = tw_lbr_pct - lw_lbr_pct
    lbr_tw_bdg_diff = tw_lbr_pct - bdg_lbr_pct
    
    rows.insert(4, (
        "Lbr %", 
        f"{tw_lbr_pct:.2f}", 
        f"{lw_lbr_pct:.2f}", 
        f"{lbr_tw_lw_diff:.2f}",
        f"{bdg_lbr_pct:.2f}",
        f"{lbr_tw_bdg_diff:.2f}"
    ))
    
    # TTL calculations
    tw_ttl = sum(filtered_df[col].sum() for col in ['TW', 'TW .1', 'TW .2', 'TW .3', 'TW .4', 'TW .5'])
    lw_ttl = sum(filtered_df[col].sum() for col in ['LW', 'LW .1', 'LW .2', 'LW .3', 'LW .4', 'LW .5'])
    bdg_ttl = sum(budget_values[m] for m in ['Tw Johns', 'Terra', 'Metro', 'Victory', 'Central Kitchen', 'Other'])
    
    ttl_tw_lw_diff = ((tw_ttl - lw_ttl) / lw_ttl * 100) if lw_ttl != 0 else 0
    ttl_tw_bdg_diff = ((tw_ttl - bdg_ttl) / bdg_ttl * 100) if bdg_ttl != 0 else 0
    
    rows.append((
        "TTL", 
        f"{tw_ttl:.2f}", 
        f"{lw_ttl:.2f}", 
        f"{ttl_tw_lw_diff:.2f}",
        f"{bdg_ttl:.2f}",
        f"{ttl_tw_bdg_diff:.2f}"
    ))
    
    # Food Cost percentage calculations
    tw_food_pct = tw_ttl / tw_net_sales * 100 if tw_net_sales != 0 else 0
    lw_food_pct = lw_ttl / lw_net_sales * 100 if lw_net_sales != 0 else 0
    bdg_food_pct = bdg_ttl / bdg_net_sales * 100 if bdg_net_sales != 0 else 0
    
    food_tw_lw_diff = tw_food_pct - lw_food_pct
    food_tw_bdg_diff = tw_food_pct - bdg_food_pct
    
    rows.append((
        "Food Cost %", 
        f"{tw_food_pct:.2f}", 
        f"{lw_food_pct:.2f}", 
        f"{food_tw_lw_diff:.2f}",
        f"{bdg_food_pct:.2f}",
        f"{food_tw_bdg_diff:.2f}"
    ))
    
    # Prime Cost $ calculations
    tw_prime = tw_lbr_pay + tw_ttl
    lw_prime = lw_lbr_pay + lw_ttl
    bdg_prime = bdg_lbr_pay + bdg_ttl
    
    prime_tw_lw_diff = ((tw_prime - lw_prime) / lw_prime * 100) if lw_prime != 0 else 0
    prime_tw_bdg_diff = ((tw_prime - bdg_prime) / bdg_prime * 100) if bdg_prime != 0 else 0
    
    rows.append((
        "Prime Cost $", 
        f"{tw_prime:.2f}", 
        f"{lw_prime:.2f}", 
        f"{prime_tw_lw_diff:.2f}",
        f"{bdg_prime:.2f}",
        f"{prime_tw_bdg_diff:.2f}"
    ))
    
    # Prime Cost % calculations
    tw_prime_pct = tw_prime / tw_net_sales * 100 if tw_net_sales != 0 else 0
    lw_prime_pct = lw_prime / lw_net_sales * 100 if lw_net_sales != 0 else 0
    bdg_prime_pct = bdg_prime / bdg_net_sales * 100 if bdg_net_sales != 0 else 0
    
    prime_pct_tw_lw_diff = tw_prime_pct - lw_prime_pct
    prime_pct_tw_bdg_diff = tw_prime_pct - bdg_prime_pct
    
    rows.append((
        "Prime Cost %", 
        f"{tw_prime_pct:.2f}", 
        f"{lw_prime_pct:.2f}", 
        f"{prime_pct_tw_lw_diff:.2f}",
        f"{bdg_prime_pct:.2f}",
        f"{prime_pct_tw_bdg_diff:.2f}"
    ))
    
    # Calculate Avg Ticket values
    tw_avg_ticket = tw_net_sales / filtered_df['Tw Orders'].sum() if filtered_df['Tw Orders'].sum() != 0 else 0
    lw_avg_ticket = lw_net_sales / filtered_df['Lw Orders'].sum() if filtered_df['Lw Orders'].sum() != 0 else 0
    bdg_avg_ticket = bdg_net_sales / budget_values['Orders'] if budget_values['Orders'] != 0 else 0
    
    avg_ticket_tw_lw_diff = ((tw_avg_ticket - lw_avg_ticket) / lw_avg_ticket * 100) if lw_avg_ticket != 0 else 0
    avg_ticket_tw_bdg_diff = ((tw_avg_ticket - bdg_avg_ticket) / bdg_avg_ticket * 100) if bdg_avg_ticket != 0 else 0
    
    # Insert the Avg Ticket row after Orders (at index 2)
    rows.insert(2, (
        "Avg Ticket", 
        f"{tw_avg_ticket:.2f}", 
        f"{lw_avg_ticket:.2f}", 
        f"{avg_ticket_tw_lw_diff:.2f}",
        f"{bdg_avg_ticket:.2f}",
        f"{avg_ticket_tw_bdg_diff:.2f}"
    ))
    
    # Final DataFrame
    result = pd.DataFrame(
        rows, 
        columns=["Metric", "This Week", "Last Week", "Tw/Lw (+/-)", "Budget", "Tw/Bdg (+/-)"]
    )
    return result

In [ ]:
calculate_tw_lw_bdg_comparison(df, "0001: Midtown East", 2025, "1 | 12/30/2024 - 01/05/2025")

             Metric This Week Last Week Tw/Lw (+/-) Budget Tw/Bdg (+/-)
0         Net Sales   7174.76      0.00        0.00   0.00         0.00
1            Orders    242.00      0.00        0.00   0.00         0.00
2        Avg Ticket     29.65      0.00        0.00   0.00         0.00
3           Lbr hrs    120.00      0.00        0.00   0.00         0.00
4           Lbr Pay   2510.40      0.00        0.00   0.00         0.00
5             Lbr %     34.99      0.00       34.99   0.00        34.99
6              SPMH    119.58      0.00        0.00   0.00         0.00
7              LPMH     21.01      0.00        0.00   0.00         0.00
8          Tw Johns      0.00      0.00        0.00   0.00         0.00
9             Terra    167.80      0.00        0.00   0.00         0.00
10            Metro    653.04      0.00        0.00   0.00         0.00
11          Victory      0.00      0.00        0.00   0.00         0.00
12  Central Kitchen   3640.89      0.00        0.00   0.00         0.00
13            Other     59.00      0.00        0.00   0.00         0.00
14              TTL   4520.73      0.00        0.00   0.00         0.00
15      Food Cost %     63.01      0.00       63.01   0.00        63.01
16     Prime Cost $   7031.13      0.00        0.00   0.00         0.00
17     Prime Cost %     98.00      0.00       98.00   0.00        98.00

store, year and date range to return

In [269]:
import numpy as np
# finding the unique values in the 'Helper 4' column
unique_weeks = df['Helper 4'].unique()
# Remove empty strings from unique_weeks
unique_weeks = [week for week in unique_weeks if str(week).strip() != '']

unique_years = df['Year'].unique()
# Remove empty strings and convert to int
unique_years = [int(year) for year in unique_years if str(year).strip() != '']

unique_stores = df['Store'].unique()
unique_stores = [store for store in unique_stores if str(store).strip() != '']
unique_stores = [store.split(':', 1)[1].strip() for store in unique_stores if ':' in store]

In [270]:
unique_stores

['Midtown East']